<a href="https://colab.research.google.com/github/Navtejsdhillon/Navtejsdhillon/blob/main/Python01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#f(x)=x**2+3x-4
func_eval_2 = 2**2 + 3*2 -4
print(func_eval_2 )
func_eval_minus1 = -1**2 + 3*-1 -4
print(func_eval_minus1 )
func_eval_1 = 1**2 + 3*1 -4
print(func_eval_1 )
func_eval_1>=func_eval_minus1
func_eval_2 == 0
func_eval_minus1 == 0
func_eval_1 == 0

6
-8
0

True

In [ ]:
books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"
e_counts = books.count('e')
print(e_counts)
print(f"The total number of 'e's the list of books are {e_counts}")

7
The total number of 'e's the list of books are 7

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)
my_list[1]=3
print(my_list)
my_list[0]=10
print(my_list)
len(my_list)
my_list = [1,2,3,4,5,6,7,8,9]

print(my_list)
len(my_list)
sum(my_list)

[1, 2, 3, 4, 5]
[1, 3, 3, 4, 5]
[10, 3, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

45

In [ ]:
# List of student marks

marks = [87, 76, 95, 68, 80, 83, 92, 74, 79, 89]
mean_marks = sum(marks)/len(marks)
print(mean_marks)

82.3

In [ ]:
#John's list
fruits=['Mango','Mango','Pineapple','Pineapple','Apple','Mango','Banana','Banana','Pineapple','Apple','Pineapple']
fruit_dict = {}
fruits.count('Mango')
fruits.count('Pineapple')
fruits.count('Apple')
fruits.count('Banana')

fruit_dict['Mango'] = 3
fruit_dict['Pineapple'] = 4
fruit_dict['Apple'] = 2
fruit_dict['Banana'] = 2
print(fruit_dict)

{'Mango': 3, 'Pineapple': 4, 'Apple': 2, 'Banana': 2}

In [ ]:
my_list = (1,1,1,2,2,3,3,3,4,4,4,4,5,5,6,6,6,7)
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}