<a href="https://colab.research.google.com/github/Navtejsdhillon/Navtejsdhillon/blob/main/Python_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to count the number of characters (character frequency) in a string.

Example 1:
Input:
google.com
Output:
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
str1 = input("Enter a string: ")
mydict = {}
for i in str1:
  mydict.update({i:str1.count(i)})
print(mydict)

Enter a string: alma
{'a': 2, 'l': 1, 'm': 1}

Armstrong Award Easy In a maths competition, the Armstrong award would be presented to the one who would first tell the Armstrong
number among all given numbers. Thus, write a program for Sam in Python to help him won the award.
What is Armstrong Number?
It is a number which is equal to the sum of cube of its digits. For eg: 153, 370 etc.
Let's take 153 for an example
First calculate the cube of its each digits
1^3 = (1 * 1 * 1) = 1
5^3 = (5 * 5 * 5) = 125
3^3= (3 * 3 * 3) = 27
Now add the cube
1+125+27 = 153
It means 153 is an Armstrong Number.
Example 1:
Input:
153
Output:
Number is Armstrong
Example 2:
Input:
450
Output:
Number is not Armstrong

In [ ]:
def armstrong_number(num):
  num1 = str(num)
  num_d = len(num1)
  sum = 0
  for x in num1:
    digit = int(x)
    sum = sum+digit**num_d
  return sum == num
num = 153
if armstrong_number(num):
  print("yes")
else:
  print("No")

armstrong_number(num)

yes

True

Harmonical Sum:
Write a Python program to calculate the harmonic sum of n-1.
Note: The harmonic sum is the sum of reciprocals of the positive integers.

Example 1:
Input:
7
Output:
2.5928571428571425

Mingle to Single:
In a competition, participants were given a number to sum its digits until it was a single-digit number. So, write a Python program
to add the digits of a positive integer repeatedly until the result has a single digit.

Example 1:
Input:
7548
Output:
Step-1 Sum: 24
Step-2 Sum: 6

In [ ]:
number = input("Enter number: ")
n1=int(number[0])
n2=int(number[1])
n3=int(number[2])
n4=int(number[3])
ss=(n1+n2+n3+n4)
print("Step-1 Sum: ",ss)
sss=str(ss)
num1=int(sss[0])
num2=int(sss[1])
sum = (num1+num2)
print("Step-2 Sum: ",sum)

Enter number: 6756
Step-1 Sum:  24
Step-2 Sum:  6

Words of Prime Importance
In a test, students are supposed to write all the words in a passage whose length is a prime number.
So, write a Python program to find all such words in a sentence/passage.
Example 1:
Input:
The quick brown fox jumps over the lazy dog.
Output:
The quick brown fox jumps the

In [ ]:
txt = input("Input: ")
length = len(txt)
txt_split = txt.split()
l1 = []
for i in txt_split:
  if len(i)<=1 or len(i)%2 == 0:
    print("no")
  else:
    print("prime")
    l1.append(i)
l2 = " ".join(l1)
print(l2)

Input: the fox is bad in the bar
prime
prime
no
prime
no
prime
prime
the fox bad the bar

Integer with 3 primes:
Write a Python program to find all integers <= 1000 that are the product of exactly three primes.
Each integer should represent as the list of its three prime factors.
Example 1:
Input:
10
Output:
[[2, 2, 2]]

In [ ]:
import sympy
primes = list(sympy.primerange(1,1000))

def three_prime(number):
  list_prime = []

  for i in range(len(primes)):
    for j in range(i + 1, len(primes)):
      for k in range(j + 1, len(primes)):
        prod = primes[i]*primes[j]*primes[k]
        if prod <= 1000:
          list_prime.append([primes[i],primes[j],primes[k]])
    print(list_prime)


three_prime(number)

NameError: ignored

Find closest palindrome
Write a Python program to find the closest palindrome from a given string.

Example 1:
Input:
cat
Output:
cac

Example 2:
Input:
madan

Output:
madam

In [ ]:
txt=input("Input: ")
for i in txt:
  for j in reversed(txt):
    if i != j:
      str1 = txt.replace(i,j)
    else:
      continue
print("Output: ",str1)

Input: cat
Output:  cac

Print space between characters:
Write a Python program to find a string consisting of space-separated characters with given counts.

Example 1:
Input:
{"f": 1, "o": 2}

Output:
f o o

In [ ]:
alpha = input("Enter alpha: ")
digit = input("Enter digit: ")

mydict = {
    'f':alpha,
    'o':digit
}
print("Input: ",mydict)
items = list(mydict.items())
i = items[0]
z = i[0]
i1 = items[1]
z1 = i1[0]
z1=z3=" o "
val = list(mydict.values())
v1 = val[0]
s=int(v1)
v2 = val[1]
s1=int(v2)
print("Output:",z*s,z3*s1)

Enter alpha: 1
Enter digit: 2
Input:  {'f': '1', 'o': '2'}
Output: f  o  o

Indices of closest pairs: Write a Python program to find the indices of the closest pair from a list of numbers.
Example 1:
Input:
[1, 7, 9, 2, 10]
Output:
[0, 3]

In [ ]:
list1 = [5,10,2,12,5,7,3,15]
close_num = []
for x in list1:
  if x+1 in list1:
    print(list1.index(x+1))
    close_num.append(x)
    close_num.append(x+1)
    print(close_num)

6
[2, 3]

Strange sort
Write a Python program to find the following strange sort of list of numbers:
the first element is the smallest, the second is the largest of the remaining, the third is the smallest of the remaining,
the fourth is the smallest of the remaining, etc.

Example 1:
Input:
[1, 3, 4, 5, 11]
Output:
[1, 11, 3, 5, 4]

In [ ]:
list1 = [5,10,2,12,5,7,3,15]
print("Input: ",list1)
l1 = []
s1=min(list1)
s=max(list1)
list1.remove(2)
s3 = min(list1)
list1.remove(3)
s4=min(list1)
list1.remove(5)
l1.append([s1,s,s3,s4])
print("Output: ",l1)

Input:  [5, 10, 2, 12, 5, 7, 3, 15]
Output:  [[2, 15, 3, 5]]

Compute depth: Given a string consisting of groups of matched nested parentheses separated by parentheses,
write a Python program to compute the depth of each group.

Example 1:
Input:
(()) (()) () ((()()()))

Output:
[2, 2, 1, 3]

In [ ]:
pstr = "(()) (()) () ((()()()))"
x = pstr.rsplit(" ")
l1 = []
a,b,c,d = x
l1.append([a.count("("),b.count("("),c.count("("),d.count("(")])
print(l1)

[[2, 2, 1, 5]]

Tree Node
Each node in the tree can be one of three types:

"Leaf": if the node is a leaf node.
"Root": if the node is the root of the tree.
"Inner": If the node is neither a leaf node nor a root node.
Write an SQL query to report the type of each node in the tree.

Return the result table ordered by id in ascending order.
Example 1:
Input:
Table: Tree

Each row of this table contains information about the id of a node and the id of its parent node in a tree.
The given structure is always a valid tree.

Output:
id | type

1 | Root

2 | Inner

3 | Leaf

4 | Leaf

5 | Leaf

Explanation:
Node 1 is the root node because its parent node is null and it has child nodes 2 and 3.

Node 2 is an inner node because it has parent node 1 and child node 4 and 5.

Nodes 3, 4, and 5 are leaf nodes because they have parent nodes and they do not have child nodes.

Mails by Mary
Easy
Write a Python program for Mary to help her send emails to clients addressing their last name first, followed by their first name.
For this, the program should accept the user's first and last names and thereby print them in reverse order with a space
between them.

Example 1:
Input:
Dany

Boon

Output:
Hello Boon Dany

In [ ]:
fname = input("first name: ")
lname = input("last name: ")
print(f"Hello {lname} {fname}")

first name: Dany
last name: Boon
Hello Boon Dany

Help Naina to solve the two-varable equation (x + y) * (x + y) using Python programming.

Example 1:
Input:
4

3

Output:
49

In [ ]:
def equation(x,y):
  result = (x+y)*(x+y)
  return result
equation(4,3)

49

Write a Python program to calculate the length of a string.

Example 1:
Input:
data science

Output:
12

In [ ]:
txt = input("Input: ")
count = 0
for x in txt:
  count += 1
print("Output:",count)

Input: data science
Output: 12

find indices of repeat characters in a string(output in list form).

In [ ]:
txt = 'A123BA1760W1A1JKQA1'
list1=[]
#indexlen = (len(txt) - 1)
#print(indexlen)
f=txt.find('A1')
#print(f)
txt2=txt[1:]
f1=txt2.find('A1')+(len(txt)-len(txt2))
#print(f1)
txt3=txt2[6:]
f2=txt3.find('A1')+((len(txt)-len(txt2)+(len(txt2)-len(txt3))))
#print(f2)
txt4 = txt3[13:]
f3=txt4.find('A1')+((len(txt)-len(txt2)+(len(txt2)-len(txt3)+(len(txt3)-len(txt4)))))
#print(f3)
list1.append([f,f1,f2,f3])
print("Output:",list1)

Output: [[0, 5, 12, 18]]

In [ ]:
a='12345'
print(len(a))

5

In [ ]:
txt = 'A123BA1760W1A1JKQA1'
pattern = 'A1'
import re
list(re.finditer(pattern,txt))

[<re.Match object; span=(0, 2), match='A1'>,
 <re.Match object; span=(5, 7), match='A1'>,
 <re.Match object; span=(12, 14), match='A1'>,
 <re.Match object; span=(17, 19), match='A1'>]

Fibonacci Series(0,1,1,2,3,5,8,13,21,34)

In [ ]:
n=10
n1=0
n2=1
for i in range(2,n+1):
  f=n1+n2
  n1=n2
  n2=f
  print(f,end=',')

1,2,3,5,8,13,21,34,55,

Fibonacci 1

In [ ]:
n=10
x=0
y=1
for i in range(2,n+1):
  f = x+y
  x=y
  y=f
  print(f,end=',')

1,2,3,5,8,13,21,34,55,

Fibonacci Series 2

In [ ]:
def fibo(n):
  series=[0,1]
  while len(series) < n:
    next = series[-1]+series[-2]
    series.append(next)
  return series
n=20
result = fibo(n)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

**Custom Functions in Python**
In a job interview, Mihir was asked to find count of all contiguous substrings starting and ending with same character, for a given string S. After an interview, he wrote the recursive python program to check the answer.So, let's practice the same, and write a recursive python function.
Example 1:
Input:
abcab
Output:
7
Explanation:
There are 15 substrings of "abcab" a, ab, abc, abca, abcab, b, bc, bca bcab, c, ca, cab, a, ab, b
Out of the above substrings, there are 7 substrings : a, abca, b, bcab, c, a and b.

Example 2:
Input:
aba
Output:
4

Explanation:
The substrings are a, b, a and aba

In [ ]:
#without recursion
S = input("Enter Text: ").lower()
cont_str_list = []
if S.isalpha():
  lists = []
  char= ""
  count = 0
  for x in S:
    char = char + x
    if char == char[::-1]:
      lists.append(char)
      count += 1
    else:
      continue
  print("The palindromic substrings are: ",lists ,"with a count of", count,".")

Enter Text: aabbba
The palindromic substrings are:  ['a', 'aa'] with a count of 2 .

In [ ]:
def count_palindromic_substrings(s):
    def is_palindrome(sub):
        return sub == sub[::-1]

    def count_palindromic_substrings_helper(s, start, end):
        if start >= end:
            return 0
        if is_palindrome(s[start:end + 1]):
            return 1 + count_palindromic_substrings_helper(s, start + 1, end) + count_palindromic_substrings_helper(s, start, end - 1)
        else:
            return count_palindromic_substrings_helper(s, start + 1, end) + count_palindromic_substrings_helper(s, start, end - 1) - count_palindromic_substrings_helper(s, start + 1, end - 1)

    return count_palindromic_substrings_helper(s, 0, len(s) - 1)

# Example 1
input_str1 = "abcab"
output1 = count_palindromic_substrings(input_str1)
print("Example 1 Output:", output1)  # Output: 7

# Example 2
input_str2 = "aba"
output2 = count_palindromic_substrings(input_str2)
print("Example 2 Output:", output2)  # Output: 4

Example 1 Output: 0
Example 2 Output: 1

Find Maximum among set of numbers
Easy
Write a Python function to find the Max of three numbers.

Example 1:
Input:
-10 -20 -30

Output:
-10

In [ ]:
list1 = [2,3,6,8,1,23]
max_value = list1[0]
for num in list1:
  if num > max_value:
    max_value = num
print(max_value)

23

**Conditional & Infinite Looping:** In Statistics, Mean (average) is a common term used to analyze the data. Thus, we should know how to program this Statistical term using Python. For this, write a Python program to calculate the sum and average (Mean) of n integer numbers (input from the user). Input 0 to finish the list.

Sample:

Input some integers to calculate their sum and average. Input 0 to exit .
15
16
12
0

Average and Sum of the above numbers are: 14.333333333333334 43.0

Example 1:
Input:
2

4

6

8

10

0

Output:
Average and Sum of the above numbers are: 6.0 30.0

In [ ]:
count = 0
int_list=[]
while count < 5:
  num = int(input("Enter numbers(0 to Quit): \n"))
  if num == 0:
    break
  count+=1
  int_list.append(num)
print(int_list)

def int_sum():
  sum=0
  for i in int_list:
      sum += i
  return sum

def int_average():
  listlen = len(int_list)
  sum = int_sum()
  average = sum/listlen
  return average

sum_r = int_sum()
average_r = int_average()
print("The average is {} and the sum is {}".format(average_r,sum_r))

Enter numbers(0 to Quit):
1
Enter numbers(0 to Quit):
2
Enter numbers(0 to Quit):
1
Enter numbers(0 to Quit):
2
Enter numbers(0 to Quit):
1
[1, 2, 1, 2, 1]
The average is 1.4 and the sum is 7

Write a program which would calculate the count of each unique characters in a words and returns an appropriate dictionary. Use a custom function to achieve this.

word = "Custom Function"

In [ ]:
word1 = "Custom Function"
word = word1.lower()
#print(word)
countdict = {}
#countlist = []
#wordlist = word.split()
for char in word:
  if char.isalpha():
    if char not in countdict:
        countdict[char]=1
    else:
      countdict[char]+=1
print(countdict)

{'c': 2, 'u': 2, 's': 1, 't': 2, 'o': 2, 'm': 1, 'f': 1, 'n': 2, 'i': 1}

In [ ]:
def count_letters(word):

    letter_count = {}
    for letter in word:
        if letter.isalpha():
            letter = letter.lower()
            letter_count[letter] = letter_count.get(letter, 0) + 1
    return letter_count

# Try out here
word = "Custom Function"
result = count_letters(word)
print(result)

{'c': 2, 'u': 2, 's': 1, 't': 2, 'o': 2, 'm': 1, 'f': 1, 'n': 2, 'i': 1}

In [ ]:
def greet(name):
    print("Hello, " + name + "! How are you?")
greet("a")

Hello, a! How are you?

In [ ]:
a=6
b=3
a/=2*b
print(a)

1.0

In [ ]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

You have a list of numbers and want to create a new list that contains the square of each number. Use list comprehension, lambda functions, and the map function to achieve this.

In [ ]:
list1=[2,3,5,7,8,6]
#List comprehension
#listc=[i*2 for i in list1]
#print(listc)
#Lambda
square = [(lambda x: x*2)(x) for x in list1]

print(result)

([2, 3, 5, 7, 8, 6, 2, 3, 5, 7, 8, 6], [2, 3, 5, 7, 8, 6])

When we work on Data Science projects, we start with Data Cleaning i.e removing all rows where the features have NA/None values. This is done to achieve maximum accuracy from our prediction models. So, write a Python program to remove None value from a given list. (Using list comprehension)

Example 1:
Input:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
    
Output:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
list1 = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
list2 = [x for x in list1 if x != None]
print(list2)

[12, 0, 23, -55, 234, 89, 0, 6, -12]

Remove the list from list
Easy
Mr. Alberto wants to remove some numbers from the list of numbers to test his equation for numerical research. So, write a Python program to help him to remove all elements from a given list present in another list. (Using list comprehension)

Example 1:
Input:
[1,2,3,4,5,6,7,8,9,10]

[2,4,6,8]

Output:
[1, 3, 5, 7, 9, 10]

In [ ]:
list1=[i for i in range(1,11)]
#print(list1)
listr=[2,4,6,8]
list2 = [i for i in list1 if i not in listr]
print(list2)

[1, 3, 5, 7, 9, 10]

Write a Python program to count the number of characters (character frequency) in a string.

Example 1:
Input:
google.com

Output:
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
str1 = input("Enter Text: ").lower()
#str2 = str1.split()
mydict = {}

for i in str1:
  #if str1.isalpha():
    mydict.update({i:str1.count(i)})
print(mydict)

Enter Text: google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

Write a Python program to check whether an alphabet is a vowel or consonant.

Example 1:
Input:
A

Output:
Vowel

In [ ]:
text = input("Type an alphabet: ").lower()
vowel1 = "aieou"
if text in vowel1:
  print(f"{text} is a vowel.")
else:
  print(f"{text} is a consonent, Shakespeare!")

Type an alphabet: B
b is a consonent, Shakespeare!

Dog's age
Easy
Write a Python program to calculate a dog's age in dog's years. Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

Example 1:
Input:
12

Output:
Dog's age: 61

In [ ]:
human_age = int(input("Enter your age: "))
if human_age <= 2:
  dog_age = human_age*10.5
  print(f"Your Dog's age is: {dog_age}")
elif human_age > 2:
  dog_age = int((2*10.5)+((human_age-2)*4))
  print(f"Your Dog's age after {human_age} years is: {dog_age} dog years")

Enter your age: 12
Your Dog's age after 12 years is: 61 dog years

Biggest even number
Easy
Write a Python program to find the biggest even number between two numbers inclusive.

Example 1:
Input:
12

51

Output:
50

In [ ]:
int1 = int(input("number1: "))
int2 = int(input("number2: "))
if int1 > int2:
  print("Output(Greatest): ",int1)
elif int1 == int2:
  print("Equal numbers")
else:
  print("Output(Greater): ",int2)

number1: 11
number2: 22
Output(Greater):  22

Numbers below threshold
Medium
Write a Python program to find the indexes of numbers of a given list below a given threshold.

Example 1:
Input:
[0, 12, 45, 3, 4923, 322, 105, 29, 15, 39, 55]

100

Output:

In [ ]:
list1 = [0, 12, 45, 3, 4923, 322, 105, 29, 15, 39, 55]
#Threshold values are above 100
list2 = []
for x in list1:
  if x <= 100:
    list2.append(list1.index(x))
print(list2)

[0, 1, 2, 3, 7, 8, 9, 10]

Remove NONE
Easy
Write a Python program to remove None value from a given list. (Using list comprehension)

Example 1:
Input:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

Output:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
list1 = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
list2 = [x for x in list1 if x != None]
print(list2)

[12, 0, 23, -55, 234, 89, 0, 6, -12]

Indexes of None
Easy
Write a Python program to find the indexes of all None items in a given list.

Example 1:
Input:
[1, None, 5, 4,None, 0, None, None]

Output:
[1, 4, 6, 7]

In [ ]:
list1 = [0, 12, 45, 3, 4923, 322, 105, 29, 15, 39, 55]
#Threshold values are above 100
list2 = []
for x in list1:
  if x <= 100:
    list2.append(list1.index(x))
print(list2)

Remove specific word
Easy
Write a Python program to remove specific words from a given list. (Using List comprehension)

Example 1:
Input:
['red', 'green', 'blue', 'white', 'black', 'orange']

['white', 'orange']

Output:
['red', 'green', 'blue', 'black']

In [ ]:
colors = ['red', 'green', 'blue', 'white', 'black', 'orange']
outc = ['white','orange']
color2 = [x for x in colors if x not in outc ]
print(color2)

['red', 'green', 'blue', 'black']

Alternate elements
Easy
Write a Python program to create a list taking alternate elements from a given list. (Using list comprehension)

Example 1:
Input:
["red", "black", "white", "green", "orange"]

Output:
['red', 'white', 'orange']

In [ ]:
colors = ["red", "black", "white", "green", "orange"]
altlist = [ x for x in colors if x not in colors[1::2]]
print(altlist)

['red', 'white', 'orange']

Get Chinese zodiac
Medium
Write a Python program to determine your Chinese Zodiac sign based on your birth year. The Chinese Zodiac is a classification scheme based on the lunar calendar that assigns an animal sign to each year in a 12-year cycle. Each sign is associated with certain personality traits and characteristics. Your task is to create a program that takes a birth year as input and displays the corresponding Chinese Zodiac sign.

Here are the Chinese Zodiac signs and their respective years based on the reference year 2000:

Zodiac Signs and Their Years:

Dragon: 2000, 2012, 2024, 2036, ...
Snake: 2001, 2013, 2025, 2037, ...
Horse: 2002, 2014, 2026, 2038, ...
Goat (or Sheep): 2003, 2015, 2027, 2039, ...
Monkey: 2004, 2016, 2028, 2040, ...
Rooster: 2005, 2017, 2029, 2041, ...
Dog: 2006, 2018, 2030, 2042, ...
Pig: 2007, 2019, 2031, 2043, ...
Rat: 2008, 2020, 2032, 2044, ...
Ox: 2009, 2021, 2033, 2045, ...
Tiger: 2010, 2022, 2034, 2046, ...
Rabbit: 2011, 2023, 2035, 2047, ...
Your program should take a birth year as input and display the corresponding Chinese Zodiac sign based on the reference year 2000.

Eg

Input: 2022

Output: (Your Zodiac Sign :', 'Tiger')

Example 1:
Input:
2022

Output:
(Your Zodiac Sign :', 'Tiger')

Have a doubt?


Python 3
123456
#write your code inside main function
def  main():
  a = int(input())
  b = int(input())
  
main();
Console

Run code
Run Tests
Submit

In [ ]:
BirthYear = int(input("Input(Type year 2000 onwards): )"))
DragonList = [2000, 2012, 2024, 2036]
SnakeList = [2001, 2013, 2025, 2037]
HorseList = [2002, 2014, 2026, 2038]
GoatList = [2003, 2015, 2027, 2039]
MonkeyList = [2004, 2016, 2028, 2040]
RoosterList = [2005, 2017, 2029, 2041]
DogList = [2006, 2018, 2030, 2042]
PigList = [2007, 2019, 2031, 2043]
RatList = [2008, 2020, 2032, 2044]
OxList = [2009, 2021, 2033, 2045]
TigerList = [2010, 2022, 2034, 2046]
RabbitList = [2011, 2023, 2035, 2047]

if BirthYear >= 2000 and BirthYear <= 2047:
  if BirthYear in DragonList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Dragon\"")
  elif BirthYear in SnakeList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Snake\"")
  elif BirthYear in HorseList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Horse\"")
  elif BirthYear in GoatList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Goat\"")
  elif BirthYear in MonkeyList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Monkey\"")
  elif BirthYear in RoosterList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Rooster\"")
  elif BirthYear in DogList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Dog\"")
  elif BirthYear in PigList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Pig\"")
  elif BirthYear in RatList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Rat\"")
  elif BirthYear in OxList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Ox\"")
  elif BirthYear in TigerList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Tiger\"")
  elif BirthYear in RabbitList:
    print("Your Zodiac Sign as per Chinese Calendar is \"Rabbit\"")
  else:
    print('Invalid Input')
else:
  print("Type Year between 2000 and 2047")

print("Have a Doubt?")
print("Pythin 3 123456")

Input(Type year 2000 onwards): )2050
Type Year between 2000 and 2047
Have a Doubt?
Pythin 3 123456

In [ ]:
print("+"+"-"*10+"+")
print(("|" + " "*10 + "|\n")*5,end="")
print("+"+"-"*10+"+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+